
example/.vs/example/v16/.suo
example/.vs/example/v16/Browse.VC.db
example/.vs/example/v16/ipch/AutoPCH/3d74731ce8da1118/EXAMPLE.ipch
example/.vs/example/v16/ipch/AutoPCH/5362604fb224dac8/EXAMPLE.ipch
example/.vs/example/v16/ipch/AutoPCH/6c1ffb14a9befbe5/LWMF_FPSCOUNTER.ipch
example/.vs/example/v16/ipch/AutoPCH/d21a11feb8d280b/EXAMPLE.ipch
example/x64/Release/example.exe
example/x64/Release/example.iobj
example/x64/Release/example.ipdb
example/x64/Release/example.log
example/x64/Release/Shader/Default.vert
example/x64/Release/Shader/Default.frag
example/x64/Release/lwmf_systemlog.log
example/x64/Release/Fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf
example/x64/Release/Fonts/Mansalva/Mansalva-Regular.ttf
example/x64/Release/example.tlog/link.read.1.tlog
example/x64/Release/example.tlog/example.write.1u.tlog
example/x64/Release/example.tlog/example.lastbuildstate
example/x64/Release/example.tlog/CL.read.1.tlog
example/x64/Release/example.tlog/link.command.1.tlog
example/x64/Release/example.tlog/CL.write.1.tlog
example/x64/Release/example.tlog/link.write.1.tlog
example/x64/Release/example.tlog/CL.command.1.tlog
example/x64/Release/example.obj
example/x64/Release/Fonts/Mansalva/OFL.txt
example/x64/Release/Fonts/Ubuntu_Mono/UFL.txt
example/x64/Release/example.Build.CppClean.log
example/x64/Release/example.vcxproj.FileListAbsolute.txt
example/.vs/example/v16/ipch/AutoPCH/1ba831b559433e5b/EXAMPLE.ipch
example/lwmf_systemlog.log
